# Notebook 1 - Python Data Types, Variables and Expressions


# Checking Python Version

In [1]:
import sys
print(sys.version)

3.6.1 |Anaconda custom (64-bit)| (default, May 11 2017, 13:25:24) [MSC v.1900 64 bit (AMD64)]

# Printing with Python

In [ ]:
print('Hello, Python World!')

this is comment

In [ ]:
print('Hello, Python World!') # This line prints a string
# print('Hi')  # line with # at begining treated as comment

In [ ]:
frint("Hello, Error!")

# Jupyter Notebook shortcuts

In [1]:
# ctrl + enter to execute
# shift + enter to execute and add a new cell
# esc + a add cell above
# esc + b add cell below 
# esc + x remove the cell
# esc + ry clear the output

# Data Types

In [9]:
type(10)

int

In [12]:
type(3.4)

float

In [13]:
type("python")

str

In [ ]:
float(5)

In [ ]:
type(float(5))

type(True)

In [14]:
type(False)

bool

In [15]:
type(True)

bool

# Type Casting

In [16]:
int(1.5)

1

In [17]:
int('4')

4

In [18]:
int('x')

ValueError: invalid literal for int() with base 10: 'x'

In [19]:
int('1.9')

ValueError: invalid literal for int() with base 10: '1.9'

In [20]:
float('1.9')

1.9

In [21]:
float('q')

ValueError: could not convert string to float: 'q'

In [22]:
str(9)

'9'

In [23]:
str('0.2')

'0.2'

In [24]:
int(True)

1

In [25]:
int(False)

0

In [26]:
bool(1)

True

In [27]:
bool(0)

False

In [28]:
float(True)

1.0

In [29]:
float(False)

0.0

# Mathematical Operations / Expressions

In [30]:
7/2   # Regular Division

3.5

In [31]:
7//2   # Integer division

3

In [32]:
4 + 6 + 6 + 1

17

In [33]:
x = 4 + 6 + 6 + 1
x

17

In [34]:
x

17

In [35]:
total_minutes = 12 + 45 + 8 
total_minutes

65

In [36]:
total_hours = total_minutes / 60  
total_hours

1.0833333333333333

In [37]:
5 * 4

20

In [38]:
y = 5 *4 
y

20

In [39]:
num1 = 2
num2 = 3

print(num1 + num2)  
print(num1 - num2) 
print(num1 * num2) 
print(num1 / num2)
print(num1 // num2)
print(num1 % num2) 
print(num1 ** num2)

5
-1
6
0.6666666666666666
0
2
8

In [40]:
num1 = 8
num1 += 5
# num1 = num1 + 5
print(num1)
num1 -= 1
print(num1)

13
12

In [ ]:
print(12 < 34)

In [ ]:
num1 = 4
num2 = 12
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

In [41]:
num1 = 4
num2 = 12
print(num1 == num2)
print(num1 != num2)

False
True

# String Operations

In [42]:
text = "Python is beautiful!"
text

'Python is beautiful!'

In [43]:
print(text[0])
print(text[1])

P
y

In [44]:
print(text[-1])
print(text[-2])

!
l

In [45]:
len(text)

20

In [46]:
len("Python is beautiful!")

20

In [47]:
text[0:4]

'Pyth'

In [48]:
text[8:12]

's be'

In [49]:
text[2:]

'thon is beautiful!'

In [50]:
text[:10]

'Python is '

In [51]:
text[::2]

'Pto sbatfl'

In [52]:
text[0:5:2]

'Pto'

In [53]:
Name = "Sachin Tendulkar"

In [54]:
stmt = Name + " is the best cricketer in the world!"
stmt

'Sachin Tendulkar is the best cricketer in the world!'

In [55]:
3*Name

'Sachin TendulkarSachin TendulkarSachin Tendulkar'

In [56]:
print(" Sachin Tendulkar \n is the best cricketer in the world!" )

 Sachin Tendulkar
 is the best cricketer in the world!

In [57]:
stmt = "Chennai Super Kings are going to win IPL this time."
print("Original stmt : ",stmt)

mod_stmt = stmt.upper()
print("Modified stmt : ",mod_stmt)

mod_stmt = stmt.lower()
print("Modified stmt again : ",mod_stmt)

Original stmt :  Chennai Super Kings are going to win IPL this time.
Modified stmt :  CHENNAI SUPER KINGS ARE GOING TO WIN IPL THIS TIME.
Modified stmt again :  chennai super kings are going to win ipl this time.

In [58]:
stmt = "Chennai Super Kings are going to win IPL this time."
mod_stmt = stmt.replace('Chennai Super Kings', 'Royal Challengers')
mod_stmt

'Royal Challengers are going to win IPL this time.'

In [59]:
stmt = "Chennai Super Kings are going to win IPL this time.    "
print(stmt)
print(stmt.rstrip())

Chennai Super Kings are going to win IPL this time.
Chennai Super Kings are going to win IPL this time.

In [60]:
stmt = "Chennai Super Kings are going to win IPL this time.%%%"
print(stmt)
print(stmt.rstrip("%"))

Chennai Super Kings are going to win IPL this time.%%%
Chennai Super Kings are going to win IPL this time.

In [61]:
stmt = "    Chennai Super Kings are going to win IPL this time."
print(stmt)
print(stmt.lstrip())

    Chennai Super Kings are going to win IPL this time.
Chennai Super Kings are going to win IPL this time.

In [62]:
stmt = "$$$$Chennai Super Kings are going to win IPL this time."
print(stmt)
print(stmt.lstrip("$"))

$$$$Chennai Super Kings are going to win IPL this time.
Chennai Super Kings are going to win IPL this time.

stmt = "    Chennai Super Kings are going to win IPL this time.   "
print(stmt)
print(stmt.strip())

In [64]:
stmt = "&&&&Chennai Super Kings are going to win IPL this time.&&&&"
print(stmt)
print(stmt.strip('&'))

&&&&Chennai Super Kings are going to win IPL this time.&&&&
Chennai Super Kings are going to win IPL this time.

In [65]:
stmt = "Chennai Super Kings are going to win IPL this time."
stmt.find('Kings')

14

In [66]:
stmt.find('anything')

-1

In [67]:
score = 30
my_score = ("My score "+ str(score) + ".")
print(my_score)

your_score = input("What is your score")
print("Your score is ", your_score)

print("Our scores are", my_score, your_score) 
stmt ="Our scores are {0}, {1}".format(my_score, your_score) 
print(stmt)

My score 30.
What is your score23
Your score is  23
Our scores are My score 30. 23
Our scores are My score 30., 23

In [68]:
first_name = input("Enter your first name")
last_name = input("Enter your last name")
age = input("Enter your age")
stmt = "You are " + first_name + " " + last_name + "." + " You are " + str(age) + "old."
print(stmt)

Enter your first namePravin
Enter your last namePawar
Enter your age35
You are Pravin Pawar. You are 35old.