# Notebook 2 - Python Data Structures

# Tuples

In [1]:
my_tuple =("Python",1, True, False, 2.2 )
my_tuple

('Python', 1, True, False, 2.2)

In [2]:
type(my_tuple)

tuple

In [3]:
len(my_tuple)

5

In [4]:
print( my_tuple[0])
print( my_tuple[1])
print( my_tuple[2])

Python
1
True

In [5]:
print( type(my_tuple[0]))
print( type(my_tuple[1]))
print( type(my_tuple[2]))

<class 'str'>
<class 'int'>
<class 'bool'>

In [6]:
print( my_tuple[-1])
print( my_tuple[-2])
print( my_tuple[-3])

2.2
False
True

In [7]:
my_tuple[2] = 4   #Cant alter the tuple

TypeError: 'tuple' object does not support item assignment

In [8]:
my_tuple.append(25) #Cant append the tuple

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
my_tuple2 = my_tuple + ("Anaconda", 120)
my_tuple2

('Python', 1, True, False, 2.2, 'Anaconda', 120)

In [10]:
my_tuple2[0:2]

('Python', 1)

In [12]:
my_tuple2[5:]

('Anaconda', 120)

In [13]:
my_tuple2[:3]

('Python', 1, True)

In [14]:
Scores = (10, 8 , 3, 2 , 4, 0 , 0, 3)
Scores

(10, 8, 3, 2, 4, 0, 0, 3)

In [15]:
sorted_Scores = sorted(Scores)
sorted_Scores

[0, 0, 2, 3, 3, 4, 8, 10]

In [16]:
del(Scores)

In [17]:
Scores   # error as its no more available

NameError: name 'Scores' is not defined

# Lists

In [19]:
my_list = ["Virat", 9.34, 1982, True]
type(my_list)

list

In [20]:
print(my_list[0] , "    " , my_list[-4])
print(my_list[1] , "    " , my_list[-3])
print(my_list[2] , "    " , my_list[-2])
print(my_list[3] , "    " , my_list[-1])

Virat      Virat
9.34      9.34
1982      1982
True      True

In [21]:
num1 = 23 
tuple1 = (1, 3, 9)
list1 = ["Sachin", 982, True]

mixed_list = ["Virat", 9.34, 1982, True, num1, tuple1, list1, [ 34, 23], ('a', 'v')]
mixed_list

['Virat',
 9.34,
 1982,
 True,
 23,
 (1, 3, 9),
 ['Sachin', 982, True],
 [34, 23],
 ('a', 'v')]

In [22]:
my_list = ["Virat", 9.34, 1982, True]
my_list

['Virat', 9.34, 1982, True]

In [23]:
my_list[:]

['Virat', 9.34, 1982, True]

In [24]:
my_list[1:]

[9.34, 1982, True]

In [25]:
my_list[:2]

['Virat', 9.34]

In [26]:
my_list[:-1]

['Virat', 9.34, 1982]

In [27]:
my_list = ["Virat", 9.34, 1982, True]

my_list.extend(['new_item',100])
my_list

['Virat', 9.34, 1982, True, 'new_item', 100]

In [28]:
my_list = ["Virat", 9.34, 1982, True]

my_list.append(['new_item',100])
my_list

['Virat', 9.34, 1982, True, ['new_item', 100]]

In [29]:
my_list = ["Virat", 9.34, 1982, True]

my_list.remove("Virat")
my_list

[9.34, 1982, True]

In [30]:
my_list = ["Virat", 9.34, 1982, True]
print("Before : " , my_list)

my_list[1] = 34.3
print("After : " , my_list)

Before :  ['Virat', 9.34, 1982, True]
After :  ['Virat', 34.3, 1982, True]

In [31]:
my_list = ["Virat", 9.34, 1982, True]
print("Before : " , my_list)

del(my_list[2])
print("After : " , my_list)

Before :  ['Virat', 9.34, 1982, True]
After :  ['Virat', 9.34, True]

In [32]:
'This string needs to be splitted'.split()

['This', 'string', 'needs', 'to', 'be', 'splitted']

In [33]:
splitted_str = 'This string needs to be splitted'.split()
print(splitted_str)

print(splitted_str[0])
print(splitted_str[1])
print(splitted_str[2])
print(splitted_str[3])
print(splitted_str[4])
print(splitted_str[5])

print(type(splitted_str))

print(len(splitted_str))

['This', 'string', 'needs', 'to', 'be', 'splitted']
This
string
needs
to
be
splitted
<class 'list'>
6

In [34]:
splitted_str = 'This string, needs to be splitted'.split(',')
print(splitted_str)

print(splitted_str[0])
print(splitted_str[1])

print(type(splitted_str))

print(len(splitted_str))

['This string', ' needs to be splitted']
This string
 needs to be splitted
<class 'list'>
2

In [35]:
list1 = [ 1, 3, 5, 7, 9]
list2 = list1

print("list1--->", list1)
print("list2--->", list2)

list1---> [1, 3, 5, 7, 9]
list2---> [1, 3, 5, 7, 9]

In [36]:
list1 = [ 1, 3, 5, 7, 9]
list2 = list1

print("Before change list1--->", list1)
print("Before change list2--->", list2)

list1[0] = 0
print("After change list1--->", list1)
print("After change list2--->", list2)

list2[0] = 100
print("After change list1--->", list1)
print("After change list2--->", list2)

Before change list1---> [1, 3, 5, 7, 9]
Before change list2---> [1, 3, 5, 7, 9]
After change list1---> [0, 3, 5, 7, 9]
After change list2---> [0, 3, 5, 7, 9]
After change list1---> [100, 3, 5, 7, 9]
After change list2---> [100, 3, 5, 7, 9]

In [37]:
list3 = [0, 2, 4, 6, 8]
list4 = list3[:]

print("list3----", list3)
print("list4----", list4)

list3---- [0, 2, 4, 6, 8]
list4---- [0, 2, 4, 6, 8]

In [38]:
list3 = [0, 2, 4, 6, 8]
list4 = list3[:]

print("Before change list3----", list3)
print("Before change list4----", list4)

list3[0] = 100
print("After change list3----", list3)
print("After change list4----", list4)

list4[0] = 99
print("After change list3----", list3)
print("After change list4----", list4)

Before change list3---- [0, 2, 4, 6, 8]
Before change list4---- [0, 2, 4, 6, 8]
After change list3---- [100, 2, 4, 6, 8]
After change list4---- [0, 2, 4, 6, 8]
After change list3---- [100, 2, 4, 6, 8]
After change list4---- [99, 2, 4, 6, 8]

In [39]:
list5 = [1, 3, 5, 7 , -1 , 2]
print(list5)

list5.sort()
print(list5)

[1, 3, 5, 7, -1, 2]
[-1, 1, 2, 3, 5, 7]

In [40]:
list5 = [1, 99, 40]
print(list5)

list5.sort(reverse=True)
print(list5)

list5 = [1, 99, 40]
list5.sort(reverse=False)
print(list5)

list5 = [1, 99, 40]
list5.sort()
print(list5)

[1, 99, 40]
[99, 40, 1]
[1, 40, 99]
[1, 40, 99]

In [41]:
list6 = list(range(1, 10, 1))
print(list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
list7 = [1, 3, 5, 7 , -1 , 2]
print(list7)

list7.reverse()
print(list7)

[1, 3, 5, 7, -1, 2]
[2, -1, 7, 5, 3, 1]

In [44]:
my_tuple = (1, 3, 5, 7 , -1 , 2)
print(my_tuple)

few_elements = my_tuple[:2]
print(few_elements)
print(type(few_elements))

list_from_tupple = list(few_elements)
print(list_from_tupple)
print(type(list_from_tupple))

tuple_from_list = tuple(list_from_tupple)
print(tuple_from_list)
print(type(tuple_from_list))

(1, 3, 5, 7, -1, 2)
(1, 3)
<class 'tuple'>
[1, 3]
<class 'list'>
(1, 3)
<class 'tuple'>

# Dictionaries

In [45]:
my_dict = {"name":"pravin", "age":22, "marks":[30, 23, 13], "assign_grades":('A','B','A')}
print(my_dict)
print(type(my_dict))

{'name': 'pravin', 'age': 22, 'marks': [30, 23, 13], 'assign_grades': ('A', 'B', 'A')}
<class 'dict'>

In [46]:
print(my_dict["name"])
print(my_dict["age"])
print(my_dict["marks"])
print(my_dict["assign_grades"])

pravin
22
[30, 23, 13]
('A', 'B', 'A')

In [ ]:
my_name = my_dict["name"]
my_name

In [47]:
my_age = my_dict.get("age")
my_age

22

In [48]:
my_dict["name"] = "pawar"
my_dict

{'age': 22,
 'assign_grades': ('A', 'B', 'A'),
 'marks': [30, 23, 13],
 'name': 'pawar'}

In [49]:
my_dict["new_key"] = "new_data"
my_dict

{'age': 22,
 'assign_grades': ('A', 'B', 'A'),
 'marks': [30, 23, 13],
 'name': 'pawar',
 'new_key': 'new_data'}

In [50]:
key_list = my_dict.keys()
print(key_list)

dict_keys(['name', 'age', 'marks', 'assign_grades', 'new_key'])

In [51]:
dict_values = my_dict.values()
dict_values

dict_values(['pawar', 22, [30, 23, 13], ('A', 'B', 'A'), 'new_data'])

In [52]:
dict_items = my_dict.items()
dict_items

dict_items([('name', 'pawar'), ('age', 22), ('marks', [30, 23, 13]), ('assign_grades', ('A', 'B', 'A')), ('new_key', 'new_data')])

In [53]:
my_dict

{'age': 22,
 'assign_grades': ('A', 'B', 'A'),
 'marks': [30, 23, 13],
 'name': 'pawar',
 'new_key': 'new_data'}

print(my_dict)
del(my_dict['name'])
print(my_dict)

In [54]:
'Name' in my_dict

False

In [55]:
'age' in my_dict

True

In [ ]:
emp_data = { 1:['Emp A', 34] , 2:['Emp B', 35], 3:['Emp C', 36]}

print(emp_data)

In [ ]:
emp_data[2] = ['Emp B modified', 45]
print(emp_data)

In [ ]:
emp_data[4] = ['Emp D', 45]
print(emp_data)

In [ ]:
del emp_data[2]
print(emp_data)

# Sets

In [56]:
city_set = {"Pune", "Mumbai", "Pune", "Mumbai", "Bangalore", "Delhi"}
print(city_set)
print(type(city_set))

{'Delhi', 'Bangalore', 'Mumbai', 'Pune'}
<class 'set'>

In [57]:
city_list = ["Pune", "Mumbai", "Pune", "Mumbai", "Bangalore", "Delhi"]
city_set = set(city_list)
city_set

{'Bangalore', 'Delhi', 'Mumbai', 'Pune'}

In [58]:
country_set = {"India", "US", "US", "India"}
country_set

{'India', 'US'}

In [59]:
country_set.add("UK")
country_set

{'India', 'UK', 'US'}

In [60]:
country_set.remove("UK")
country_set

{'India', 'US'}

In [61]:
"India"  in country_set

True

In [62]:
"UK"  in country_set

False

In [63]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [64]:
common_cities = maharashtra_cities & western_region_cities
common_cities

{'Mumbai', 'Nagpur', 'Pune'}

In [65]:
print(maharashtra_cities.intersection(western_region_cities))

{'Nagpur', 'Pune', 'Mumbai'}

In [66]:
all_cities = maharashtra_cities | western_region_cities | goa_cities
all_cities

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [67]:
print((maharashtra_cities.union(western_region_cities)).union(goa_cities))

{'Panjim', 'Nagpur', 'Mumbai', 'Pune', 'Vasco', 'Madgaon'}

In [68]:
western_region_cities.difference(maharashtra_cities)

{'Panjim', 'Vasco'}

In [69]:
goa_cities.difference(western_region_cities)

{'Madgaon'}

In [70]:
maharashtra_cities.symmetric_difference(western_region_cities)

{'Panjim', 'Vasco'}

In [71]:
duplicate_items_list = [1, 2, 3, 2, 3, 4]
print(duplicate_items_list)

uniq_set = set(duplicate_items_list)
print(uniq_set)

[1, 2, 3, 2, 3, 4]
{1, 2, 3, 4}

In [157]:
grade_set = { 'a', 'c', 'd', 'e'}
print(grade_set)

grade_list = list(grade_set)
print(grade_list)

{'e', 'a', 'c', 'd'}
['e', 'a', 'c', 'd']